<DOCTYPE! html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>Jane Doe - Decentralized Profile Pages by Disisme</title>
  <meta name="description" content="Jane Doe's Profile on Disisme - I am an avid programmer with a background in distributed ledger technology and a formal education in Cryptography. Currently working @tokenbasher.io; student...">

  <link rel="stylesheet" href="/style.css">

  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

</head>

<body>

<div class="container">
  <div class="nav">
    <div class="logo">
      DISISME
    </div>
    <div class="search">
      <form>
        <input type="text" name="search" id="search" placeholder="e.g. 0xca35b7d915458ef540ade6068dfe2f44e8fa733c, or John Doe">
        <input type="submit" name="submit" value="Find" id="submit">
      </form>
    </div>
    <div class="buttons">
      <ul>
        <a href="#"><li>How does it work</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li><u>Log In</u></li></a>
        <a href="#"><li id="signup">SIGN UP</li></a>
      </ul>
    </div>
  </div>
  
  <div class="home">
    
    <!-- This sidebar contains some of the person's information such as the profile picture, age (when revealed), email (when revealed), and a few buttons that navigate to sub information -->
    <div class="sidebar">
      <div class="profile-image">
        <img src="https://images.unsplash.com/photo-1533557188897-ef2bc7257ba3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4aa35edaa52b128fd06333630074684&auto=format&fit=crop&w=500&q=60" />
      </div>
      
      <div class="social-info">
        <div class="networks"><a href="https://twitter.com/jdburani/"><i class="fa fa-twitter"></i></a><a href="https://facebook.com/jdburani/"><i class="fa fa-facebook"></i></a><a href="https://github.com/jdburani/"><i class="fa fa-github"></i></a></div>
        <div id="email">clarineb@gmail.com</div>
      </div>
      
      <div class="sb-buttons">
        <div class="button">
          SKILLS
        </div>
        <div class="button">
          HOBBIES
        </div>
        <div class="button">
          WORK
        </div>
      </div>
      
    </div>
    
    <!-- This div will make up the majority of the page, containing information such as full name, bio, social buttons, and images. -->
    <div class="core">
      <div class="basics">
        <h1>Jane Doe Burani</h1>
<div id="address">0xca35b7d915458ef540ade6068dfe2f44e8fa733c</div>
        <hr>
        <p><span><i>23rd of January, 2018 -</i></span> I am an avid programmer with a background in distributed ledger technology and a formal education in Cryptography. Currently working @tokenbasher.io; student of the Udacity Blockchain Developer Nanodegree. Fanatic swimmer on the side.</p>
      </div>
      
      <div class="images">
        <div class="row">
          <img src="https://images.unsplash.com/photo-1523464862212-d6631d073194?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1917d113c1f77cc8f60e1f2da0c9c47d&auto=format&fit=crop&w=500&q=60" />
          <img src="https://images.unsplash.com/photo-1530995377270-ac41692cd439?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3832424b5fb3cfcf0ea0de07bd96443&auto=format&fit=crop&w=500&q=60" />
        </div>
        <div class="row">
          <img src="https://images.unsplash.com/photo-1526080676457-4544bf0ebba9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b737ad3b3a556eba651416be8846bb0f&auto=format&fit=crop&w=500&q=60" />
          <img src="https://images.unsplash.com/photo-1533727745100-e50cf931def7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=591fea7fe7d229d2f81fbc034a6b0834&auto=format&fit=crop&w=500&q=60" />
        </div>
      </div>
      
    </div>
  </div>
  
  
</div>

<script>

// Specifiy the ethereum provider
if (typeof web3 !== 'undefined') {
  web3 = new Web3(web3.currentProvider);
} else {
  web3 = new Web3(new Web3.providers.HttpProviders("https://localhost:8545")); 
}

// Specify the default account
web3.eth.defaultAccount = web3.eth.accounts[0];

// Provide ABI that functions that interface between the contract and JS
const disismeContract = web3.eth.contract([
  {
    "constant": false,
    "inputs": [
      {
        "name": "_imageURL",
        "type": "string"
      }
    ],
    "name": "setProfilePic",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "name": "people",
    "outputs": [
      {
        "name": "email",
        "type": "string"
      },
      {
        "name": "fName",
        "type": "string"
      },
      {
        "name": "lName",
        "type": "string"
      },
      {
        "name": "age",
        "type": "uint256"
      },
      {
        "name": "bio",
        "type": "string"
      },
      {
        "name": "profilePic",
        "type": "string"
      },
      {
        "components": [
          {
            "name": "facebookURL",
            "type": "string"
          },
          {
            "name": "twitterURL",
            "type": "string"
          },
          {
            "name": "githubURL",
            "type": "string"
          }
        ],
        "name": "social",
        "type": "tuple"
      },
      {
        "components": [
          {
            "name": "img1",
            "type": "string"
          },
          {
            "name": "img2",
            "type": "string"
          },
          {
            "name": "img3",
            "type": "string"
          },
          {
            "name": "img4",
            "type": "string"
          }
        ],
        "name": "media",
        "type": "tuple"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_email",
        "type": "string"
      }
    ],
    "name": "setEmail",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_url",
        "type": "string"
      }
    ],
    "name": "setFacebook",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_address",
        "type": "address"
      }
    ],
    "name": "getEmail",
    "outputs": [
      {
        "name": "email",
        "type": "string"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_address",
        "type": "address"
      }
    ],
    "name": "getPersonSocial",
    "outputs": [
      {
        "name": "facebookURL",
        "type": "string"
      },
      {
        "name": "twitterURL",
        "type": "string"
      },
      {
        "name": "githubURL",
        "type": "string"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_address",
        "type": "address"
      }
    ],
    "name": "getPersonBase",
    "outputs": [
      {
        "name": "fName",
        "type": "string"
      },
      {
        "name": "lName",
        "type": "string"
      },
      {
        "name": "bio",
        "type": "string"
      },
      {
        "name": "profilePic",
        "type": "string"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_url",
        "type": "string"
      }
    ],
    "name": "setTwitter",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_address",
        "type": "address"
      }
    ],
    "name": "addFriend",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_url",
        "type": "string"
      }
    ],
    "name": "setGitHub",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_fName",
        "type": "string"
      },
      {
        "name": "_lName",
        "type": "string"
      },
      {
        "name": "_age",
        "type": "uint256"
      },
      {
        "name": "_email",
        "type": "string"
      },
      {
        "name": "_bio",
        "type": "string"
      },
      {
        "name": "_profilePic",
        "type": "string"
      }
    ],
    "name": "createProfile",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_bio",
        "type": "string"
      }
    ],
    "name": "setBio",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "constructor"
  }
]);

// Point to actual contract using address
const disisme = disismeContract.at('');

</script>

</body>
</html>